<a href="https://colab.research.google.com/github/WajdiB41/demo-repo/blob/main/Car_Price_Prediction_Multiple_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Using the right version of tensorflow
%tensorflow_version 2.x

In [2]:
# Load the import 
# from __future__ import absolute_import, division, print_function, unicode_literals

import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import feature_column
from tensorflow.keras import layers

from matplotlib import pyplot as plt

# The following lines adjust the granularity of reporting.
pd.options.display.max_rows = 10
pd.options.display.float_format = "{:.1f}".format

tf.keras.backend.set_floatx('float32')

print("Imported the modules.")

Imported the modules.

In [3]:
# import train_df which contain train set

from google.colab import files
uploaded = files.upload()

import io
df = pd.read_csv(io.BytesIO(uploaded['CarPrice_Assignment.csv']))
# Dataset is now stored in a Pandas Dataframe

Saving CarPrice_Assignment.csv to CarPrice_Assignment.csv

In [4]:
df.head()

   car_ID  symboling                   CarName  ... citympg highwaympg   price
0       1          3        alfa-romero giulia  ...      21         27 13495.0
1       2          3       alfa-romero stelvio  ...      21         27 16500.0
2       3          1  alfa-romero Quadrifoglio  ...      19         26 16500.0
3       4          2               audi 100 ls  ...      24         30 13950.0
4       5          2                audi 100ls  ...      18         22 17450.0

[5 rows x 26 columns]

In [5]:
df.tail()

     car_ID  symboling          CarName  ... citympg highwaympg   price
200     201         -1  volvo 145e (sw)  ...      23         28 16845.0
201     202         -1      volvo 144ea  ...      19         25 19045.0
202     203         -1      volvo 244dl  ...      18         23 21485.0
203     204         -1        volvo 246  ...      26         27 22470.0
204     205         -1      volvo 264gl  ...      19         25 22625.0

[5 rows x 26 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [7]:
df.describe()

       car_ID  symboling  wheelbase  ...  citympg  highwaympg   price
count   205.0      205.0      205.0  ...    205.0       205.0   205.0
mean    103.0        0.8       98.8  ...     25.2        30.8 13276.7
std      59.3        1.2        6.0  ...      6.5         6.9  7988.9
min       1.0       -2.0       86.6  ...     13.0        16.0  5118.0
25%      52.0        0.0       94.5  ...     19.0        25.0  7788.0
50%     103.0        1.0       97.0  ...     24.0        30.0 10295.0
75%     154.0        2.0      102.4  ...     30.0        34.0 16503.0
max     205.0        3.0      120.9  ...     49.0        54.0 45400.0

[8 rows x 16 columns]